# Environment variables
alumniB/.env
alumniF/.env

# Dependencies
alumniB/node_modules/
alumniF/node_modules/

# Frontend (Vite) build output
alumniF/dist
alumniF/dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?